body {
    font-family: Arial, sans-serif;
    background-image: url("fondoCuestionario.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    font-family: 'Arial', sans-serif; 
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f6c46d; 
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.regreso{
    background-color: #2075d0; 
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ddd;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.regreso:hover {
    background-color: #0056b3; 
}


button:hover {
    background-color: #b38f00;
    transform: scale(1.05); 
}

button:focus {
    outline: none;
}

.controles {
    margin-bottom: 20px;
}
.pregunta {
    margin-bottom: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.649); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.respuesta {
    margin-left: 20px;
}
button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}