body{
    width: 100%;
    height: 100%;
    padding-top: 5%;
    background-color: rgb(176, 252, 252);
}

form{
    border: solid 1px black;
    margin: 0 auto;
    width: 40%;  
    align-items: center;
    text-align: center;
}

