body {
    padding: 30px;
    background-image: url("fondoSecundario.jpg");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    font-family: 'Arial', sans-serif; 
}

#principal {
    padding: 20px;
    width: 80%; 
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.649); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.regreso{
    background-color: #2075d0; 
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #ddd;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.regreso:hover {
    background-color: #0056b3; 
}

.regreso:focus {
    outline: none;
}


h1, h2 {
    color: #333; 
    font-weight: bold;
    margin-bottom: 15px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #c7b467; 
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #dcc26b; 
}

#tablaMaterias {
    border: 1px solid #ddd; 
    width: 60%; 
    margin: 20px auto; 
    border-collapse: collapse; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#tablaMaterias th, #tablaMaterias td {
    border: 1px solid #ddd; 
    padding: 12px; 
    text-align: center;
}

#tablaMaterias th {
    background-color: #f4f4f4; 
    color: #333; 
    font-weight: bold;
}

#tablaMaterias tr:nth-child(even) {
    background-color: #f9f9f9; 
}

#tablaMaterias tr:hover {
    background-color: #f1f1f1; 
}
